In [1]:
import pandas as pd

In [2]:
table = pd.read_stata('datasets/RGD main.dta')

In [3]:
table.head(10)

,cnumb,ccode,clust2,cowccode,cow01conflict,cow94conflict,countryname,yrst,most,yrend,...,polch5,polch10,polch15,polch0,poldif003,poldif005,poldif0010,poldif0015,techreb,techreb12
0,1,AFG1,AFG,700,698,901,Afghanistan,1978,4.0,1992,...,0.0,0.0,NaN,-1.0,1.0,1.0,1.0,NaN,1.0,1.0
1,2,AFG2,AFG,700,698,901,Afghanistan,1992,2.0,1996,...,1.0,NaN,NaN,1.0,0.0,0.0,NaN,NaN,3.0,0.0
2,4,ALG1,ALG,615,659,844,Algeria,1962,7.0,1963,...,-5.9,-5.9,-5.9,-4.9,-1.0,-1.0,-1.0,-1.0,1.0,1.0
3,5,ALG2,ALG,615,739,,Algeria,1992,1.0,2002,...,4.0,NaN,NaN,-1.0,5.0,5.0,NaN,NaN,1.0,1.0
4,6,ANG1,ANG,540,693,898,Angola,1975,11.0,1991,...,0.1,0.1,1.1,-3.9,NaN,4.0,4.0,5.0,3.0,0.0
5,7,ANG2,ANG,540,743,982,Angola,1992,9.0,1994,...,4.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,3.0,0.0
6,8,ANG3,ANG,540,743,982,Angola,1997,1.0,2002,...,5.0,NaN,NaN,5.0,1.0,1.0,NaN,NaN,3.0,0.0
7,9,ANG4,ANG,540,,,Angola,1994,NaN,2006,...,NaN,NaN,NaN,5.0,0.0,NaN,NaN,NaN,1.0,1.0
8,10,ARG1,ARG,160,647,820,Argentina,1955,6.0,1955,...,8.0,8.0,0.0,0.0,8.0,8.0,8.0,0.0,3.0,0.0
9,11,ARG2,ARG,160,,,Argentina,1975,NaN,1977,...,-9.0,7.0,6.0,-10.0,0.0,1.0,17.0,16.0,NaN,NaN

In [4]:
table.columns

Index(['cnumb', 'ccode', 'clust2', 'cowccode', 'cow01conflict',
       'cow94conflict', 'countryname', 'yrst', 'most', 'yrend',
       ...
       'polch5', 'polch10', 'polch15', 'polch0', 'poldif003', 'poldif005',
       'poldif0010', 'poldif0015', 'techreb', 'techreb12'],
      dtype='object', length=128)